# ********************************************************************************
# Copyright (c) 2025, Wentao Guo, Mayank Mishra, Xinle Cheng, Ion Stoica, Tri Dao
# ********************************************************************************

torch>=2.7.1,<=2.9.1
quack-kernels>=0.4.0
pytest
parameterized
rich
